@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

body {
    background: linear-gradient(135deg, #0D0A33, #C61D3D);
    color: white;
    font-family: 'Roboto Slab', sans-serif;
    margin: 0;
    padding: 10px;
}

h1 {
    text-align: center;
    font-size: 2.2em;
    color: #FD4754;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin: 10px auto 20px auto;
    display: block;
    border: 2px solid rgba(253, 71, 84, 0.8);
    border-radius: 25px; 
    background-color: rgba(255, 255, 255, 0.289); 
    font-size: 1.1em;
    transition: border-color 0.3s;
    color: #FD4754; /* Texto rojo */
}

input[type="text"]:focus {
    border-color: rgb(159, 14, 14);
    outline: none;
}

#agents-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin: 0 auto;
    width: 90%; 
}

.agent-card {
    background-color: white; 
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 700px; 
    margin: 20px 0; 
    display: flex; 
    align-items: center;
    transition: transform 0.3s, background-color 0.3s;
    overflow: hidden;
    padding: 15px; 
    color: #202c38; 
}

.agent-card:hover {
    transform: scale(1.05);
    background-color: rgba(253, 71, 84, 0.5); 
    color: white; 
}

.agent-image {
    border-radius: 10px; 
    width: 180px; 
    max-width: 100%; 
    height: auto; 
    margin-right: 20px; 
}

.agent-info {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    width: calc(100% - 200px); 
}

.agent-name {
    font-size: 1.8em; 
    margin: 5px 0; 
    font-weight: bold;
}

.agent-role {
    font-size: 1.3em; 
    font-weight: bold;
    margin: 8px 0; 
}

.agent-desc {
    font-size: 1em; 
    margin: 5px 0; 
}

.abilities-list {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 0;
    margin: 10px 0;
    list-style: none;
}

.abilities-list li::before {
    content: "• ";
    color: #FD4754;
    font-weight: bold;
}


.agent-card:hover .agent-name {
    color: #202c38; 
}
